<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//js.pusher.com/3.0/pusher.min.js"></script>
<script>
$(document).ready(function(){
    var pusher = new Pusher('fb45d9e64fdf2db64ed2');

    $.getJSON("/join", function(data, status){
        console.log(data["payload"]["uid"]);
        var channel = pusher.subscribe(data["payload"]["uid"]);

        channel.bind('game-started', function(data) {
            console.log(data);
        });
    });
    
});
    

</script>
</head>
<body>
<pre>
API

Client clicks join button:
    - call /join
    - subscribe to the channel-id returned in the 'payload'

Client receives 'game-started' event with 'payload' in their personal channel:
    {'payload':{"shapes":[]} }
    - use this to initialize the game

Client updates the game:
    - call POST /update with changes and uid

Client finishes the game:
    - call POST /finish with uid 
    - team members receive 'game-finished' event in their channel
    - now just wait for the 'game-products' event with 'payload' in their personal channel
    - you can start rating games now...

Client assigns a rating to a game:
    - call POST /rate with score and teamid - you have this from the previous 'game-products' message
    - wait for the 'game-results' event with 'payload' in their channel (when all scores have been collected for all players)

Client closes the game/app or leaves the queue:
    - unsubscribe from the personal channel
</pre>
</body>
</html>